In [1]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# Load data

In [2]:
os.getcwd()

'/Users/btseytlin/Documents/toloka_sociology/notebooks'

In [4]:
dfs_our = []
for entry in os.scandir('../data/encoded'):
    group_df = pd.read_csv(entry.path)
    dfs_our.append(group_df)
df_our = pd.concat(dfs_our)
df_our = df_our[df_our['failed_control'] == False]
print(df_our.shape)
df_our.head()

(1957, 64)

,ID,Время создания,Время изменения,Ваш пол,Сколько вам лет?,"Укажите тип населённого пункта, в котором вы проживаете.",Источник ответов,Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого,Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы,Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала,...,Q223: Which party would you vote for if there were a national election tomorrow,Q189: Justifiable: For a man to beat his wife,Q182: Justifiable: Homosexuality,Q183: Justifiable: Prostitution,Q184: Justifiable: Abortion,Q190: Justifiable: Parents beating children,Q186: Justifiable: Sex before marriage,Q187: Justifiable: Suicide,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex
0,1090643861,2022-02-09 21:37:05,2022-02-09 21:37:05,Женский,более 50,средний город (50-100 тыс. жителей),female_50,NaN,NaN,NaN,...,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0
2,1090636590,2022-02-09 21:29:54,2022-02-09 21:29:54,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,0,1.0,1.0,1.0,5.0,5.0,5.0,1.0,1.0,3.0
7,1090632694,2022-02-09 21:25:52,2022-02-09 21:25:52,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,0,1.0,3.0,8.0,9.0,1.0,6.0,8.0,8.0,8.0
9,1090631809,2022-02-09 21:25:00,2022-02-09 21:25:00,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,0,1.0,5.0,1.0,5.0,2.0,6.0,8.0,6.0,6.0
10,1090631142,2022-02-09 21:24:18,2022-02-09 21:24:18,Женский,более 50,малый город (до 50 тыс. жителей),female_50,NaN,NaN,NaN,...,1,1.0,1.0,5.0,5.0,3.0,3.0,3.0,5.0,2.0

In [5]:
df_test = pd.read_excel('../data/world_values_survey_extended.xlsx')
df_test = df_test[df_test.columns[1:]] # Remove unnamed column
df_test

,Q18: Neighbors: Drug addicts,Q19: Neighbors: People of a different race,Q22: Neighbors: Homosexuals,Q21: Neighbors: Immigrants/foreign workers,Q23: Neighbors: People of a different religion,Q29: Men make better political leaders than women do,Q36: Homosexual couples are as good parents as other couples,Q212: Political action: Joining unofficial strikes,Q71: Confidence: The Government,Q69: Confidence: The Police,...,Q183: Justifiable: Prostitution,Q184: Justifiable: Abortion,Q190: Justifiable: Parents beating children,Q186: Justifiable: Sex before marriage,Q187: Justifiable: Suicide,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex,Q223: Which party would you vote for if there were a national election tomorrow,Q260: Sex,Q262: Age
0,1,2,1,2,2,3,4,3,2,3,...,1,8,1,8,1,1,9,643032,2,36
1,1,2,2,2,1,3,4,3,3,2,...,6,6,1,9,1,3,4,643003,2,58
2,1,2,2,2,2,3,3,3,3,2,...,7,5,4,9,4,3,9,643032,1,42
3,1,2,2,1,2,2,3,3,2,2,...,1,3,5,3,1,-1,6,643032,2,47
4,1,2,2,2,2,3,4,3,2,2,...,3,10,4,10,8,10,7,643037,2,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1805,1,2,2,2,2,2,4,1,1,3,...,1,1,3,-1,1,1,-1,643032,1,67
1806,1,2,2,2,2,1,5,3,2,4,...,1,1,1,8,2,-1,1,643034,1,74
1807,1,2,2,2,2,-1,5,3,3,2,...,1,10,1,7,1,-1,-1,643032,1,55
1808,1,2,2,2,2,2,3,3,2,3,...,1,1,3,-1,1,1,-1,643032,2,30
1809,1,2,2,2,2,2,5,3,4,1,...,1,1,-1,-1,1,1,-1,643032,1,38

In [6]:
df_our['source'] = 'ours'
df_test['source'] = 'world_values_survey'
df = pd.concat([df_our, df_test])
df_our.shape, df_test.shape, df.shape

((1957, 65), (1810, 26), (3767, 67))

In [7]:
df.head().T

,0,2,7,9,10
ID,1090643861.0,1090636590.0,1090632694.0,1090631809.0,1090631142.0
Время создания,2022-02-09 21:37:05,2022-02-09 21:29:54,2022-02-09 21:25:52,2022-02-09 21:25:00,2022-02-09 21:24:18
Время изменения,2022-02-09 21:37:05,2022-02-09 21:29:54,2022-02-09 21:25:52,2022-02-09 21:25:00,2022-02-09 21:24:18
Ваш пол,Женский,Женский,Женский,Женский,Женский
Сколько вам лет?,более 50,более 50,более 50,более 50,более 50
...,...,...,...,...,...
Q188: Justifiable: Euthanasia,1.0,1.0,8.0,6.0,5.0
Q193: Justifiable: Having casual sex,3.0,3.0,8.0,6.0,2.0
source,ours,ours,ours,ours,ours
Q260: Sex,NaN,NaN,NaN,NaN,NaN
Q262: Age,NaN,NaN,NaN,NaN,NaN

In [8]:
def get_age(row):
    if row.source == 'ours':
        if (row['Источник ответов'] == 'female_50') or (row['Источник ответов'] == 'male_50'):
            return '50+'
        if (row['Источник ответов'] == 'female_30_49') or (row['Источник ответов'] == 'male_30_49'):
            return '30-49'
        if (row['Источник ответов'] == 'female_29') or (row['Источник ответов'] == 'male_29'):
            return '29'
    elif row.source == 'world_values_survey':
        if row['Q262: Age'] <= 29:
            return '29'
        if row['Q262: Age'] < 49:
            return '30-49'
        return '50+'

In [9]:
def get_sex(row):
    if row.source == 'ours':
        if 'female' in row['Источник ответов']:
            return 'female'
        return 'male'
    elif row.source == 'world_values_survey':
        if row['Q260: Sex'] == 2:
            return 'female'
        return 'male'

In [10]:
df['source_age'] = df.apply(get_age, axis=1)
df['source_sex'] = df.apply(get_sex, axis=1)

In [11]:
df[['source', 'Источник ответов', 'Q262: Age', 'source_age', 'Q260: Sex', 'source_sex']].sample(5).T

,194,1384,415,828,429
source,world_values_survey,world_values_survey,ours,world_values_survey,ours
Источник ответов,NaN,NaN,male_50,NaN,male_50
Q262: Age,33.0,30.0,NaN,27.0,NaN
source_age,30-49,30-49,50+,29,50+
Q260: Sex,2.0,2.0,NaN,1.0,NaN
source_sex,female,female,male,male,male

# Table: Samples comparison

In [14]:
df.columns

Index(['ID', 'Время создания', 'Время изменения', 'Ваш пол',
       'Сколько вам лет?',
       'Укажите тип населённого пункта, в котором вы проживаете.',
       'Источник ответов',
       'Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого',
       'Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы',
       'Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала',
       'Кого бы вы НЕ хотели видеть своим соседом? / Иммигранта',
       'Кого бы вы НЕ хотели видеть своим соседом? / Человека другой религии',
       'Кого бы вы НЕ хотели видеть своим соседом? / Не против любого из перечисленных',
       'Согласны ли вы с утверждением: В целом, из мужчин получаются более хорошие политические лидеры, чем из женщин?',
       'Согласны ли вы с утверждением: Гомосексуальные пары такие же хорошие родители, как и другие пары?',
       'Согласны ли вы с утверждением: Религия играет важную роль в моей жизни.',
       'Могли бы вы посетить несанкционированный политический митинг?',
       'Доверяете ли вы Правительству?', 'Доверяете ли вы полиции?',
       'Согласны ли вы с утверждением: Среди политических лидеров женщины более компетентны, чем мужчины',
       'Одобряете ли вы деятельность Владимира Путина?',
       'По вашему мнению, как часто в вашей стране фальсифицируют выборы?',
       'По вашему мнению, какой должна быть иммиграционная политика?',
       'Доверяете ли вы движениям за женские права?',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Для мужчины оправдано ударить свою жену',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Гомосексуализм - это норма',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Проституция может быть оправдана',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Аборт может быть оправдан',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Родители могут ударить своего ребёнка',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Секс до брака - это норма',
       '"Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен)"" / Религия НЕ играет важную роль в моей жизни',
       '"Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен)"" / Мужчины лучше справляются с ответственными должностями',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Самоубийство может быть оправдано',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Эвтаназия может быть оправдана',
       'Насколько вы согласны с утверждением (1 - полностью НЕ согласен, \n10 - полностью согласен) / Случайные половые связи могут быть оправданы',
       'За какую партию вы бы проголосовали, если бы выборы были бы завтра?',
       'failed_sexism_check', 'failed_religion_check', 'invalid_age',
       'invalid_sex', 'failed_control', 'Q18: Neighbors: Drug addicts',
       'Q19: Neighbors: People of a different race',
       'Q22: Neighbors: Homosexuals',
       'Q21: Neighbors: Immigrants/foreign workers',
       'Q23: Neighbors: People of a different religion',
       'Q29: Men make better political leaders than women do',
       'Q36: Homosexual couples are as good parents as other couples',
       'Q212: Political action: Joining unofficial strikes',
       'Q71: Confidence: The Government', 'Q69: Confidence: The Police',
       'Q80: Confidence: The Women´s Movement',
       'Q227: How often in country´s elections: Voters are bribed',
       'Q130: Immigration policy preference',
       'Q223: Which party would you vote for if there were a national election tomorrow',
       'Q189: Justifiable: For a man to beat his wife',
       'Q182: Justifiable: Homosexuality', 'Q183: Justifiable: Prostitution',
       'Q184: Justifiable: Abortion',
       'Q190: Justifiable: Parents beating children',
       'Q186: Justifiable: Sex before marriage', 'Q187: Justifiable: Suicide',
       'Q188: Justifiable: Euthanasia', 'Q193: Justifiable: Having casual sex',
       'source', 'Q260: Sex', 'Q262: Age', 'source_age', 'source_sex'],
      dtype='object')

In [13]:
df['ID'] = list(range(len(df)))
df.head()

,ID,Время создания,Время изменения,Ваш пол,Сколько вам лет?,"Укажите тип населённого пункта, в котором вы проживаете.",Источник ответов,Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого,Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы,Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала,...,Q190: Justifiable: Parents beating children,Q186: Justifiable: Sex before marriage,Q187: Justifiable: Suicide,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex,source,Q260: Sex,Q262: Age,source_age,source_sex
0,0,2022-02-09 21:37:05,2022-02-09 21:37:05,Женский,более 50,средний город (50-100 тыс. жителей),female_50,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,3.0,ours,NaN,NaN,50+,female
2,1,2022-02-09 21:29:54,2022-02-09 21:29:54,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,5.0,5.0,1.0,1.0,3.0,ours,NaN,NaN,50+,female
7,2,2022-02-09 21:25:52,2022-02-09 21:25:52,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,1.0,6.0,8.0,8.0,8.0,ours,NaN,NaN,50+,female
9,3,2022-02-09 21:25:00,2022-02-09 21:25:00,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,2.0,6.0,8.0,6.0,6.0,ours,NaN,NaN,50+,female
10,4,2022-02-09 21:24:18,2022-02-09 21:24:18,Женский,более 50,малый город (до 50 тыс. жителей),female_50,NaN,NaN,NaN,...,3.0,3.0,3.0,5.0,2.0,ours,NaN,NaN,50+,female

In [ ]:
def make_pivot_df(df, col):
    df_copy = df.copy()
    df_copy['ID'] = list(range(len(df_copy)))
    df_copy = df_copy.set_index(['ID', 'source'])
    df_copy['person_ID'] = list(range(len(df_copy)))

    df_pivot = pd.pivot_table(df_copy, 
                              index='source',
                              values='person_ID',
                              columns=col,
                              aggfunc=pd.Series.nunique)
    return df_pivot

In [17]:
demographic_columns = [
   'source_age', 'source_sex',
]

df_demographic = pd.pivot_table(
    df, 
    index='source',
    values='ID',
    columns=demographic_columns,
    aggfunc=pd.Series.nunique,
)
df_demographic

source_age              29       30-49         50+
source_sex          female male female male female male
source
ours                   238  213    352  368    439  347
world_values_survey    194  191    376  297    494  258

In [21]:
print(df_demographic.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
source\_age & \multicolumn{2}{l}{29} & \multicolumn{2}{l}{30-49} & \multicolumn{2}{l}{50+} \\
source\_sex & female & male & female & male & female & male \\
source              &        &      &        &      &        &      \\
\midrule
ours                &    238 &  213 &    352 &  368 &    439 &  347 \\
world\_values\_survey &    194 &  191 &    376 &  297 &    494 &  258 \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_79620/3893231513.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_demographic.to_latex())

In [24]:
print(df_demographic.T.to_latex())

\begin{tabular}{llrr}
\toprule
    & source &  ours &  world\_values\_survey \\
source\_age & source\_sex &       &                      \\
\midrule
29 & female &   238 &                  194 \\
    & male &   213 &                  191 \\
30-49 & female &   352 &                  376 \\
    & male &   368 &                  297 \\
50+ & female &   439 &                  494 \\
    & male &   347 &                  258 \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_79620/4293903011.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_demographic.T.to_latex())

In [40]:
df_demographic.reset_index()[df_demographic.reset_index().source == 'ours'].T.values[1:].sum()

1957

In [43]:
df_demographic.reset_index()[df_demographic.reset_index().source != 'ours'].T.values[1:].sum()

1810